/****************************************************( microservice register ) **************************************************/
.register{
    max-width: 800px !important;
    padding: 0;
}

form label {
    left: 6px !important;
}

